<div id='DeliverToolbar'>
  <div id='DeliverToolbarWrapper'>
    <span>Qubit Deliver Toolkit</span>
    <div id='DeliverToolbarViewOptions'>
      <div class='dashboard'><a>Q</a></div>
      <div class='toolbarMinimise'><a></a></div>
    </div>
  </div>
  <div id='DeliverToolbarMeta'></div>
  <div id='DeliverToolbarLayerActivations'>
    Show Active Experiments
  </div>
  <div id='DeliverToolbarLayerPreviews'></div>
  <div id='DeliverToolbarLayers'></div>
  <div id='DeliverToolbarInfo'>
    <div class='loadingBar'><!-- -->&nbsp;</div>
    <div class='inject'></div>
  </div>
</div>