
/*
$qubitGreen = #48B28D;
$qubitGrey = #4D4F53;
$qubitBlue = #76ABD0;
$qubitOrange = #D86D39;
*/

@font-face {
  font-family: 'Qubit-100';
  src: url('chrome-extension://__MSG_@@extension_id__/assets/font/MuseoSans_100.otf');
}
@font-face {
  font-family: 'Qubit-300';
  src: url('chrome-extension://__MSG_@@extension_id__/assets/font/MuseoSans_300.otf');
}
@font-face {
  font-family: 'Qubit-500';
  src: url('chrome-extension://__MSG_@@extension_id__/assets/font/MuseoSans_500.otf');
}

#DeliverToolbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: auto;
  min-height: 45px;
  background: #4D4F53;
  z-index: 9999;
  box-sizing: initial;
  transition: all 0.5s ease-in-out;
  font-family: 'Qubit-300';
  font-size: 12px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#DeliverToolbar,
#DeliverToolbar *:before,
#DeliverToolbar *:after
#DeliverToolbar p{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

#DeliverToolbar.DT-minimise{
  left: -250px !important;
}

#DeliverToolbarViewOptions a{
  color: white;
  text-decoration: none;
}
#DeliverToolbar #DeliverToolbarViewOptions .toolbarMinimise a:after{
  content: "<";
}
#DeliverToolbar.DT-minimise #DeliverToolbarViewOptions .toolbarMinimise a:after{
  content: ">";
}

#DeliverToolbarWrapper{
	position: relative;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 45px;
  min-height: 45px;
  max-height: 50px;
  font-family: 'Qubit-300';
  background: #D86D39;
  transition: all 0.3s ease-in-out;
}
#DeliverToolbarWrapper.expanded{
  width: 650px;
  z-index: 1;
}

#DeliverToolbarWrapper span{
	width: 100%;
  padding: 5px 10px;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	color: white;
}

#DeliverToolbarViewOptions{
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
}

#DeliverToolbarViewOptions div{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100%;

  background-color: rgb(216, 109, 57);
  text-align: center;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  line-height: 45px;
  cursor: pointer;
}

#DeliverToolbarMeta{
  height: 0%;
  overflow-x: hidden;
  overflow-y: auto;
}

#DeliverToolbarLayerPreviews,
#DeliverToolbarLayerActivations,
#DeliverToolbarMeta #DeliverSnippetsWrapper .snippetCont,
#DeliverToolbarMeta #DeliverEventRecorder .snippetCont,
#DeliverToolbarMeta #DeliverPreviewer  .snippetCont{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: -1px 0px 0px -1px;
  line-height: 30px;
  text-align: center;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  color: #FFFFFF !important;
  opacity: 1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#DeliverToolbarLayerPreviews:hover,
#DeliverToolbarLayerActivations:hover,
#DeliverToolbarMeta #DeliverSnippetsWrapper .snippetCont:hover,
#DeliverToolbarMeta #DeliverEventRecorder .snippetCont:hover,
#DeliverToolbarMeta #DeliverPreviewer  .snippetCont:hover{
  background-color: #666666;
  text-decoration: none;
  cursor: pointer;
}
#DeliverToolbarLayerPreviews:active,
#DeliverToolbarLayerActivations:active,
#DeliverToolbarMeta #DeliverSnippetsWrapper .snippetCont:active,
#DeliverToolbarMeta #DeliverEventRecorder .snippetCont:active,
#DeliverToolbarMeta #DeliverPreviewer  .snippetCont:active{
  background-color: #48B28D;
  color: #000;
}


#DeliverToolbarMeta #DeliverSnippetsWrapper .snippetCont span,
#DeliverToolbarMeta #DeliverEventRecorder .snippetCont span,
#DeliverToolbarMeta #DeliverPreviewer .snippetCont span{
  color: #FFFFFF !important;
  font-size: 14px;
}

#DeliverToolbarMeta #DeliverEventRecorder .snippetCont span.recording{
  color: #48B28D !important;
}

#DeliverToolbarMeta #DeliverSnippetsWrapper .snippetCont span:hover,
#DeliverToolbarMeta #DeliverEventRecorder .snippetCont span:hover,
#DeliverToolbarMeta #DeliverPreviewer .snippetcont span:hover{
  text-decoration: none;
}

#DeliverToolbarLayerPreviews{
  border-bottom: none;
  height: auto;
}

#DeliverPreviewer{
  height: auto;
  overflow: hidden;
}
#DeliverPreviewer .snippetCont > span{
  font-size: 14px;
}
#DeliverPreviewer.active .spippetCont{
  /*height: 60px !important;*/
}

#DeliverPreviewer .activePreviews{
  display: none;
}
#DeliverPreviewer .activePreviews.active{
  position: relative;
  display: inline-block;
  width: 250px;
  margin: 0;
  line-height: 30px;
  text-align: center;
  background-color: #333;
}

#DeliverPreviewer .snippetCont .activator{
  display: none;
  width: 100%;
  height: 60px;
  margin-bottom: -11px;
  border-top: solid 1px #ccc;
  background-color: #333;
}
#DeliverPreviewer.active .snippetCont .activator{
  position: relative;
  display: inline-block;
}

#DeliverPreviewer.active .snippetCont p.activate{
  position: absolute;
  left: 0;
  width: 50%;
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF !important;
}
#DeliverPreviewer.active .snippetCont p.cancel{
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0 15px;
  line-height: 30px;
  color: red;
}
#DeliverPreviewer.active .snippetCont p.clearPreview{
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  height: 30px;
  margin: 0;
  line-height: 28px;
  color: #FFFFFF !important;
}
#DeliverPreviewer.active .snippetCont p.activate:hover,
#DeliverPreviewer.active .snippetCont p.cancel:hover,
#DeliverPreviewer.active .snippetCont p.clearPreview:hover{
  background-color: #666666;
}

#DeliverToolbarLayers{
  height: 0%;
  display: none;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}
#DeliverToolbarLayers.open{
  display: block;
  opacity: 1;
  height: 100% !important;
  max-height: 370px;
}

#DeliverToolbarLayers .DT-Layer{
  position: relative;
  height: 25px;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 3px 0 3px;
  color: white;
  background-color: transparent !important;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
}
#DeliverToolbarLayers .DT-Layer.open{
  background-color: grey !important;
}

#DeliverToolbarLayers .DT-Layer input[type='checkbox']{
  position: absolute;
  display: inline-block;
  left: 0;
  margin: 7px;
  width: initial !important;
  height: initial !important;
  opacity: 1;
}

#DeliverToolbarLayers .DT-Layer .indicator{
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 2px;
  margin: 8px;
  padding: 0px;
  border-radius: 50%;
  background: #ccc;
}
#DeliverToolbarLayers .DT-Layer .indicator.active{
  background: #6FA858;
}
#DeliverToolbarLayers .DT-Layer .indicator.selected{
  border: solid 1px #D86D39;
}

#DeliverToolbarLayers .DT-Layer div{
  height: 20px;
  padding: 3px 5px 3px 30px;
  text-align: left;
}

#DeliverToolbarLayers .DT-Layer div span,
#DeliverToolbarLayers .DT-Layer div label{
  top: 0;
  width: 100%;
  height: 20px;
  padding: 0;

  line-height: 24px;
  text-align: left;
  font-size: 1em;
  color: #FFFFFF !important;

  word-wrap: nowrap;
  overflow: hidden;
}
#DeliverToolbarLayers .DT-Layer div label span{
  height: 20px;
}

#DeliverToolbarLayers .DT-Layer.odd{
  /*background-color: #a6a6a6 !important;*/
}

#DeliverToolbarLayerActivations{
  border-left: none;
  border-right: none;
  font-size: 14px;
}

#DeliverToolbarInfo{
  position: absolute;
  top: 0;
  left: 250px;
  width: 0px;
  height: 100%;
  background-color: grey;
  transition: all 0.3s ease-in-out;
}
#DeliverToolbarInfo.expanded{
  width: 400px;
}
#DeliverToolbarInfo .loadingBar{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;

  background: url('chrome-extension://__MSG_@@extension_id__/assets/ajax-loader.gif') no-repeat center;
}

#DeliverToolbarInfoContent{
  display: none;
  position: relative;
  padding: 10px;
  padding-top: 60px;

  font-family: 'Qubit-300';
  font-size: 11pt;
  color: white;

}
#DeliverToolbarInfo.expanded #DeliverToolbarInfoContent{
  display: block;
}

#DeliverToolbarInfoContent .title{
  padding-right: 125px;
  margin: 0;
  font-family: 'Qubit-500';
  font-size: 18pt;
  color: white;
}
#DeliverToolbarInfoContent .status{
  position: absolute;
  top: 55px;
  right: 20px;

  color: #000;
  text-transform: capitalize;
}
#DeliverToolbarInfoContent .status span{
  display: block;
}

#DeliverToolbarInfoContent .status.published{
  font-family: 'Qubit-500';
  color: #99FF99;
  /*text-shadow: 5px 2px 6px #000;*/
}

#DeliverToolbarInfoContent .iteration{
  padding: 15px 0;
}

#DeliverToolbarInfoContent .titled span{
  font-weight: bold;
  color: white;
}
